@{
    ViewData["Title"]="Bathory";
}

<h1>Bathory</h1>
<p>Bathory fue una banda sueca de metal formada en Vällingby, Suecia, en 1983 por Thomas Börje Forsberg, conocido como Quorthon. Considerada una de las pioneras del black metal y del viking metal, Bathory dejó una marca indeleble en la escena del metal con su sonido crudo y atmosférico, así como con sus letras oscuras y épicas.</p>
<h2>Álbums conocidos:</h2>
<div class="album">
<!--Inicio--> 
<div class="card" style="width: 18rem;">
  <img src="/images/Bathory1984.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Bathory (1984)</h5>
    <p class="card-text">El álbum debut homónimo de Bathory es considerado uno de los primeros álbumes de black metal. Con canciones como "Hades" y "Reaper", el álbum presenta un sonido crudo y primitivo que se convertiría en una influencia fundamental para el género.</p>
  </div>
</div>
<!--Final--> 
<!--Inicio--> 
<div class="card" style="width: 18rem;">
  <img src="/images/UnderTheSign.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Under the Sign of the Black Mark (1987)</h5>
    <p class="card-text">Este tercer álbum de Bathory es otro hito en la evolución del black metal. Con temas como "Enter the Eternal Fire" y "Call from the Grave", el álbum muestra un avance en la composición y producción, consolidando el estatus de Bathory como pionero del género.</p>
  </div>
</div>
<!--Final--> 
<!--Inicio--> 
<div class="card" style="width: 18rem;">
  <img src="/images/BloodFireDeath.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Blood Fire Death (1988)</h5>
    <p class="card-text">"Blood Fire Death" marca una transición del black metal al viking metal, con una mezcla de estilos y una mayor incorporación de elementos épicos y atmosféricos. Canciones como "A Fine Day to Die" y la épica "Blood Fire Death" destacan por su temática vikinga y su sonido grandioso.</p>
  </div>
</div>
<!--Final--> 
<!--Inicio--> 
<div class="card" style="width: 18rem;">
  <img src="/images/Hammerheart.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Hammerheart (1990)</h5>
    <p class="card-text">Este álbum es uno de los más destacados de la era viking metal de Bathory. Con canciones como "Shores in Flames" y "One Rode to Asa Bay", "Hammerheart" se caracteriza por su enfoque en mitología nórdica y su sonido más melódico y atmosférico.</p>
  </div>
</div>
<!--Final--> 
</div>