@{
    ViewData["Title"] = "Index";
}

<h1>Mis bandas favoritas</h1>
<p>Las bandas que podrán encontrar en este sitio son esenciales en mi vida. Las escucho cada día y me ayudan mucho en diferentes momentos.</p>
<p>En cada sección podrá encontrar las canciones favoritas y las más conocidas de cada una de las bandas mencionadas.</p>
<p>Si te gustan estas bandas acá encontraras un quiz:</p>
<a href='@Url.Action("Empezar", "Home")'><h3>Empezar quiz</h3></a>
<img class="fotosindex" src="/images/IronMaiden.jpg">
<img class="fotosindex" src="/images/PierceTheVeil.jpg">
<img class="fotosindex" src="/images/Bathory.jpg">