@{
    ViewData["Title"]="Iron Maiden";
}

<h1>Iron Maiden</h1>
<p>Iron Maiden es una banda británica de heavy metal creada en 1975 por el bajista de la misma, Steve Harris. A pesar de no obtener apoyo por parte de los medios de comunicación, lograron obtener un gran reconocimiento.</p>
<p>Está conformado por: Steve Harris (el bajista), Bruce Dickinson (cantante), Dave Murray (guitarrista), Adrian Smith (guitarrista y cantante), Janick Gers (guitarrista) y Nicko McBrain (baterista).</p>
 <h2>Álbums más conocidos:</h2>
 <div class="album">
 <!-- Inicio  -->
 <div class="card" style="width: 18rem;">
  <img src="/images/ironmaidenAlbum.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Iron Maiden (1980)</h5>
    <p class="card-text">Este álbum posee el nombre de la banda. Se estrenó el 14 de abril de 1980. En mi opinión la mejor canción de este álbum es Phantom of the Opera.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
    <!-- Final  -->
     <!-- Inicio  -->
 <div class="card" style="width: 18rem;">
  <img src="/images/theNumberoftheBeast.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">The Number of the Beast (1982)</h5>
    <p class="card-text">The Number of the Beast salió el 29 de marzo de 1982. Sus canciones más conocidas son Run to the Hills y the Number of the Beast. Mi favorita es Hallowed by the Name.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
    <!-- Final  -->
    <!-- Inicio  -->
    <div class="card" style="width: 18rem;">
    <img src="/images/PieceofMind.jpg" class="card-img-top">
    <div class="card-body">
    <h5 class="card-title">Piece of Mind (1983)</h5>
    <p class="card-text">Piece of Mind salió el 28 de mayo de 1983. Su canción más conocida (y la más famosa de la banda en sí) es The Trooper.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
    <!-- Final  -->
        <!-- Inicio  -->
    <div class="card" style="width: 18rem;">
    <img src="/images/IronMaiden.jpg" class="card-img-top">
    <div class="card-body">
    <h5 class="card-title">Fear of the Dark (1992)</h5>
    <p class="card-text">Fear of the Dark salió el 11 de mayo de 1992.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
    <!-- Final  -->
    </div>
<p></p>