@{
    ViewData["Title"]="Nirvana";
}

<h1>Nirvana</h1>
<p>Nirvana fue una influyente banda de rock estadounidense formada en Aberdeen, Washington, en 1987. La banda estaba compuesta por Kurt Cobain (vocalista y guitarrista), Krist Novoselic (bajista) y Dave Grohl (baterista). Con su sonido característico que fusiona el punk y el rock alternativo, Nirvana se convirtió en una de las bandas más importantes del movimiento grunge y dejó un legado perdurable en la música rock.</p>
<h2>Álbums más conocidos</h2>
<div class="album">
<!--Inicio--> 
<div class="card" style="width: 18rem;">
  <img src="/images/Nevermind.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Nevermind (1991)</h5>
    <p class="card-text">"Nevermind" es el segundo álbum de estudio de Nirvana y es ampliamente considerado uno de los discos más importantes en la historia del rock. Con éxitos como "Smells Like Teen Spirit", "Come as You Are" y "Lithium", el álbum catapultó a la banda al estrellato y ayudó a popularizar el grunge en todo el mundo.</p>
  </div>
</div>
<!--Final--> 
<!--Inicio--> 
<div class="card" style="width: 18rem;">
  <img src="/images/InUtero.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">In Utero (1993)</h5>
    <p class="card-text">"In Utero" es el tercer y último álbum de estudio de Nirvana. Producido por Steve Albini, el álbum tiene un sonido más crudo y menos pulido en comparación con "Nevermind". Canciones como "Heart-Shaped Box", y "All Apologies" destacan la intensidad emocional y la experimentación sonora de la banda.</p>
  </div>
</div>
<!--Final--> 
<!--Inicio--> 
<div class="card" style="width: 18rem;">
  <img src="/images/MTVunplugged.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">MTV Unplugged in New York (1994)</h5>
    <p class="card-text">Este álbum en vivo captura la famosa actuación de Nirvana en el programa "MTV Unplugged". La actuación íntima y acústica presenta versiones únicas de algunas de sus canciones más conocidas, así como versiones de canciones de otros artistas. "About a Girl", "The Man Who Sold the World" (una versión de David Bowie) y "Where Did You Sleep Last Night" son algunos de los momentos más destacados.</p>
  </div>
</div>
<!--Final--> 
</div>