@{
    ViewData["Title"]="Nivel2";
}

<h1>Pregunta 2:</h1>
<p>¿A qué banda le pertenece la canción "King for a Day"?</p>
<p>@ViewBag.Incorrecto</p>
<p>Tienes @ViewBag.Puntos puntos</p>
<form action='@Url.Action("Level", "Home")'>
    <div class="centrar">
        <input autocomplete="off" type="text" name="respuesta" placeholder="" required><br>
        <div>
            <input class="btn btn-primary" type="submit" name="Enviar">
            <input class="btn btn-secondary" type="reset" name="Resetear">
        </div>
    </div>
</form>