@{
    ViewData["Title"]="Nivel4";
}

<h1>Pregunta 4:</h1>
<p>¿Cómo se llama el primer album de Iron Maiden?</p>
<form action='@Url.Action("Level", "Home")'>
    <div class="centrar">
        <input autocomplete="off" type="text" name="respuesta" placeholder="" required><br>
        <div>
            <input class="btn btn-primary" type="submit" name="Enviar">
            <input class="btn btn-secondary" type="reset" name="Resetear">
        </div>
    </div>
</form>