@{
    ViewData["Title"]="Nivel3";
}

<h1>Pregunta 3:</h1>
<p>¿De cuál de las bandas formó parte Kurt Cobain?</p>
<form action='@Url.Action("Level", "Home")'>
    <div class="centrar"> 
        <input autocomplete="off" type="letter" name="respuesta" placeholder="" required><br>
        <div>
            <input class="btn btn-primary" type="submit" name="Enviar">
            <input class="btn btn-secondary" type="reset" name="Resetear">
        </div>
    </div>
</form>